<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <div id="container">
      <h1>Welcome to Articles API</h1>
      <table>
        <tr>
          <th>HTTP Verb</th>
          <th>/articles</th>
          <th>/articles/:title</th>
        </tr>
        <tr>
          <td>GET</td>
          <td><a href="/articles">Fetch all the articles</a></td>
          <td>Fetch a specific article</td>
        </tr>
        <tr>
          <td>POST</td>
          <td>Create a new article</td>
          <td>-</td>
        </tr>
        <tr>
          <td>PUT</td>
          <td>-</td>
          <td>Update a specific article (overwrite)</td>
        </tr>
        <tr>
          <td>PATCH</td>
          <td>-</td>
          <td>Update a specific article (field)</td>
        </tr>
        <tr>
          <td>DELETE</td>
          <td>Delete all the articles</td>
          <td>Delete a specific article</td>
        </tr>
      </table>
    </div>
  </body>
</html>
